@import url('https://rsms.me/inter/inter.css');
@tailwind base;

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

section {
  margin-top: theme('spacing.rhythm');
  margin-bottom: theme('spacing.rhythm');
}

h1, h2, h3 {
  @apply leading-tight font-bold;
}

h1 {
  @apply text-4xl;
  @apply mb-8;
}
h2 {
  @apply text-xl;
  @apply mb-2;
}
h3 {
  @apply text-lg;
}

p {
  @apply mb-8 leading-normal;
}

a {
  @apply text-gray-500 border-b-2 border-solid;
}
a:hover {
  @apply text-gray-900 border-gray-900;
}

blockquote {
  @apply ml-12;
}

ol {
  @apply list-outside list-decimal;
}
ol li {
  @apply mb-main;
}

.form-input {
  @apply appearance-none border rounded-lg w-full py-3 px-4 leading-tight;
}

.scrim-t *, .scrim-r *, .scrim-b *, .scrim-l * {
  @apply z-10 relative;
}

.scrim-t::after, .scrim-r::after, .scrim-b::after, .scrim-l::after {
  @apply z-0;
}

@tailwind components;
@tailwind utilities;
