@import url("https://use.typekit.net/ulb8wcl.css");
@tailwind base;

html {  
  @apply font-serif text-gray-900;
}
.skip-kern {
  font-kerning: none;
}
/* @supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
} */

h1, h2, h3, h4 {
  @apply leading-tight font-bold mb-4;
}

h1 {
  /* font-family: 'Aktiv Grotesk', sans-serif; */
  @apply text-5xl font-extrabold;
}
h2 {
  @apply text-3xl font-extrabold;
}
h3 {
  /* font-family: 'Aktiv Grotesk', sans-serif; */
  @apply tracking-wide text-lg font-extrabold text-gray-800;
}
h4 {
  /* font-family: 'Aktiv Grotesk', sans-serif; */
  @apply text-xl font-bold tracking-wide;
}

p {
  @apply leading-relaxed text-gray-800 text-xl;
}
p + p {
  @apply mt-main;
}
p + h1, p + h2, p + h3, p + h4 {
  @apply mt-12;
}

a, .nuxt-link-exact-active {
  @apply text-gray-700 border-b-2 border-solid border-black-300t;
  padding-bottom: 1px;
}
nav a {
  @apply border-b-0;
}
a:hover, nav a:hover {
  @apply text-gray-900 border-b-2 border-gray-900;
}

article figure {
  @apply my-rhythm;
}
article figcaption {
  @apply text-xs tracking-wide text-right font-sans mt-2;
}

.hyphenate {
  hyphens: auto;
}

blockquote {
  @apply ml-12;
}

ul {
  @apply list-none;
}



.form-input {
  @apply appearance-none border rounded-lg w-full py-3 px-4 leading-tight;
}

.scrim-t *, .scrim-r *, .scrim-b *, .scrim-l * {
  @apply z-10 relative;
}

.scrim-t::after, .scrim-r::after, .scrim-b::after, .scrim-l::after {
  @apply z-0;
}

@tailwind components;
@tailwind utilities;

button:hover {
  @apply shadow-lg;
}

/* .page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
} */

.layout-enter-active, 
.layout-leave-to,
.page-enter-active,
.page-leave-active {
  transition: opacity .5s ease-out;
}
.layout-enter, 
.layout-leave-to,
.page-enter,
.page-leave-to {
  opacity: 0;
}

.project-enter-active {
  animation: acrossIn .30s ease-out both;
} 
.project-leave-active {
  animation: acrossOut .60s ease-out both;
} 
@keyframes acrossIn {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.w-spill {
  width: 100vw !important;
  max-width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  /* margin-top: theme('spacing.rhythm'); */
}


/* Lightbox (Luminous) */
@keyframes lum-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes lum-fadeZoom {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes lum-loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes lum-loader-before {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2) translateX(6px);
  }
  25% {
    transform: scale(1.3) translateX(8px);
  }
  40% {
    transform: scale(1.2) translateX(6px);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8) translateX(6px);
  }
  75% {
    transform: scale(0.7) translateX(8px);
  }
  90% {
    transform: scale(0.8) translateX(6px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lum-loader-after {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2) translateX(-6px);
  }
  25% {
    transform: scale(1.3) translateX(-8px);
  }
  40% {
    transform: scale(1.2) translateX(-6px);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8) translateX(-6px);
  }
  75% {
    transform: scale(0.7) translateX(-8px);
  }
  90% {
    transform: scale(0.8) translateX(-6px);
  }
  100% {
    transform: scale(1);
  }
}

.lum-lightbox {
  background: rgba(0, 0, 0, 0.6);
}

.lum-lightbox-inner img {
  @apply relative mx-auto;
}

.lum-lightbox-inner .lum-lightbox-caption {
  margin: 0 auto;
  color: #fff;
  max-width: 700px;
  text-align: center;
}

.lum-loading .lum-lightbox-loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 20px;
  animation: lum-loader-rotate 1800ms infinite linear;
}

.lum-lightbox-loader:before,
.lum-lightbox-loader:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.lum-lightbox-loader:before {
  left: 0;
  animation: lum-loader-before 1800ms infinite linear;
}

.lum-lightbox-loader:after {
  right: 0;
  animation: lum-loader-after 1800ms infinite linear;
  animation-delay: -900ms;
}

.lum-lightbox.lum-opening {
  animation: lum-fade 180ms ease-out;
}

.lum-lightbox.lum-opening .lum-lightbox-inner {
  animation: lum-fadeZoom 180ms ease-out;
}

.lum-lightbox.lum-closing {
  animation: lum-fade 300ms ease-in;
  animation-direction: reverse;
}

.lum-lightbox.lum-closing .lum-lightbox-inner {
  animation: lum-fadeZoom 300ms ease-in;
  animation-direction: reverse;
}

.lum-img {
  transition: opacity 120ms ease-out;
}

.lum-loading .lum-img {
  opacity: 0;
}

.fa-li {
  @apply align-middle;
}

.float-aside { @apply float-none mx-auto }

@screen lg {
  .float-aside { 
    @apply float-right ml-12 w-3/4 rounded;
    margin-right: -55%;
    margin-top: theme('spacing.2');
    margin-bottom: theme('spacing.2');
  }
}

@screen xl {
  .float-aside { 
    /* margin-right: -85%; */
  }
}

.mainstream { @apply w-full mx-auto px-main; }
@screen sm { .mainstream { @apply max-w-xl; }}
@screen md { .mainstream { @apply max-w-3xl; }}
@screen lg { .mainstream { @apply max-w-4xl; }}
@screen xl { .mainstream { @apply max-w-6xl; }}